<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title>Create new chat</title>
</head>
<body>
    <section th:replace="layout :: nav-section"></section>
    <div class="my-md-4 container">
        <form method="post" th:action="@{/chats/create}" id="createChatForm" th:object="${chatForm}">

            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input id="name" class="form-control" th:field="*{name}"/>
                <p th:each="error: ${#fields.errors('name')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <textarea id="description" class="form-control" th:field="*{description}"></textarea>
                <p th:each="error : ${#fields.errors('description')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="type" class="control-label">Type</label>
                <select id="type" th:field="*{type}">
                    <option th:each="typeValue : ${T(com.tstu.chatapp.enums.ChatType).values()}" th:value="${typeValue}"  th:text="${typeValue}"></option>
                </select>
                <p th:each="error : ${#fields.errors('type')}"
                   th:text="${error}">Validation error</p>
            </div>

            <button type="submit" class="btn btn-primary">Accept</button>
        </form>

    </div>
</body>
</html>