<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
    <section th:fragment="nav-section">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-between">
            <a class="navbar-brand" th:href="@{/}">ChatApp</a>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                    <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                    <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" th:href="@{/register}">Registration</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/chats}">Chats</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/chats/create}">Create Chat</a></li>

                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li sec:authorize="isAuthenticated()" class="nav-item"><span sec:authentication="name" class="navbar-text">username</span></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ml-auto"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </section>

</body>
</html>